*{
    
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(92, 4, 114);
    background-attachment: fixed;
    color: rgb(205, 19, 112);
}
.full{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.output{
    color: rgb(62, 0, 78);
}
.temp{
    font-size: 5rem ;
}
.place{
    font-size: 3rem;
}
.time{
    font: 2em sans-serif;
}
.climate{
    font-size: 2rem;
}

